@import url('https://fonts.googleapis.com/css2?family=c:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    position: relative;
}
.main{
    height: 100%;
    width: 100%;
}
.active{
    background-color: lightblue;
    width: 6rem;
    opacity: .65;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: rgb(240, 195, 174);
    /* border-bottom: 2px solid; */
    /* padding-bottom: 30px; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.nav-part2{
    display: flex;
    /* background-color: blue; */
    gap: 4vw;
}
.nav h2{
    font-size: 1.8vw;
    font-weight: 600;

}

.nav h4 {
    font-size: 1.5vw;
    padding-top: 8px;
    transition: all .3s;
    color: #3b3636;
}
.nav a {
    font-size: 1.5vw;
    font-weight: 600;
    padding-top: 8px;
    transition: all .3s;
    color: #3b3636;
    text-decoration: none;
}
.nav a:hover{
    color: rgb(98, 121, 129);
}
.nav h4:hover{
    color: rgb(98, 121, 129);
}
.nav button{
    font-size: 1.2vw;
    padding: 0.6vw 1.4vw;
    background-color: #FF735C;
    align-items: center;
    border: none;
    border-radius: .5vw;
    font-weight: 800;
    color: #ffffff;
}
.nav i{
    font-weight: 900;
    display: none;
}
.content {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
    padding-top: 80px;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
}
.left h1{
    font-size: 4vw;
    line-height: 4.4vw;   
}
.left h1 span{
    color: #FF735C;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.3vw;
    background-color: #FF735C;
    border: none;
    border-radius: .5vw;
    font-weight: 800;
    color: #ffffff;
}

.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
    margin-top: 140px;

}
h4{
    cursor: pointer;
}
button{
    cursor: pointer;
}





@media (max-width:600px) {
    .nav{
        padding: 0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5vw;
}
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 40%;
        padding: 4vw 6vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .left h1{
        font-size: 10vw;
        line-height:11vw;
    }
    .left p{
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;

    }
    .content button{
        padding: 3vw 6vw;
        font-size: 3.5vw;
        font-weight: 600;
        border-radius: 3px;
    }
}





@media (max-width:800px) {
    .nav h4{
        font-size: 2.2vw;
    }
}

.section{
    height: 100%;
    width: 100%;
    /* background-color: #666161; */
    box-sizing: border-box;
    margin-top: 250px;
    padding: 0 30px;
    /* background-color: lightblue; */
    
}
h2{
    text-align: center;
    font-size: 50px;
    color: #FF735C;
}
.headings{
    width: 100%;
    height: calc(100% - 100px);
    /* background: #787272; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.headings .heading{
    width: 80%;
    height: 70%;
    background-color: rgb(213, 216, 216);
    margin: 0 60px;
    border-radius: 30px;
    box-shadow: 2px 5px 5px 5px  rgb(193, 194, 194);
    transition: all 1s;
}
.heading img{
    height: 40%;
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.heading h3{
    margin-top: 10px;
    font-size: 25px;
    font-family: poppins;
}
.heading p{
    text-align: left;
    font-size: 20px;
    margin: 25px;
    font-family: poppins;
    font-weight: 300;
    line-height: 27px;
    color: #3b3636;
}
.heading .img{
    border-radius:50%;
    width: 30px;
    height: 30px;
    /* display: inline-block; */
    margin-left: -220px;
}
.heading .para{
    margin-top: -33px;
    margin-left: 80px;
    font-weight: 600;
}
.section .btn-1{
    display: flex;
    margin: auto;
    height: 55px;
    width: 140px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: #f3624c;
    border: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    font-family: poppins;
    transition: all .2s;
    
}
.section .btn-1:hover{
    background-color: #FF735C;
    transition: .2s;   
}
.heading:hover{
    background-color: #bdbaba;
    margin-top: -20px;
    transition: .2s; 
    /* rotate: 5deg;    */
}

@media (max-width:600px) {
    .section{
        background-color: lightblue;
        height: 100%;
        margin-top: 130px;
    }
    .headings{
        display: block;
    }
    .headings .heading{
        margin-top: 100px;
    }
    .section .btn-1{
        display: none;
    }
    .heading p{
        text-align: center;
    }
    .heading .para{
        margin-top: -40px;
        margin-left: 50px;
        font-size: 25px;
        
        }
    .heading .img{
        margin-top:40px;
        width: 50px;
        height: 50px;
        }
}

.main-2{
    height: 100%;
    width: 100%;
    /* background-color: #e83317; */
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
}
.main-2 .left-c{
    height: 100%;
    width: 50%;
    /* background-color: rgb(61, 179, 219); */
    box-sizing: border-box;
    
}
.main-2 .right-c {
    height: 100%;
    width: 50%;
    /* background-color: rgb(0, 255, 64); */
}
.left-c img{
    height: 50%;
    width: 66%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
box-shadow: 2px 8px 15px 5px rgb(100, 101, 101);
border-radius: 12px;
}

.right-c{
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 90px;
        padding-top: 110px;
}
.right-c h1{
      text-align: left;
      font-size: 40px;
      width: 100%;
      margin-top: 30px;
      font-weight: 700;
}
.right-c #para{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 100;
    font-family: poppins;
    line-height: 38px;
}
.btn-2{
    width: 32%;
    background-color: #f3624c;
    height: 12%;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 40px;
    border: none;
}
.btn-2:hover{
    background-color:#FF735C;
}
@media (max-width:600px) {
    .main-2{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .left-c img{
        margin-top: 1200px;
        width: 70vw;
        display: flex;
        margin-left: 90px;
        place-items: center;
        
    }
    .right-c h1{
        
        margin-top: -350px;
        width: 300px;
        margin-left: -20px;
        text-align: start;
        /* background-color: #f3624c; */
        font-size: 35px;
        margin-bottom: 60px;
    }
    .right-c #para{
        /* background-color: #f3624c; */
        width: 350px;
        text-align: start;
        justify-content: center;
        margin-left: -20px;
        font-size: 17px;
        box-sizing: border-box;
    }
    .right-c .btn-2{
        margin-left: -20px;
        font-weight:500;
        font-size: 18px;
        border-radius: 10px;
        width: 100px;
        height: 50px;
    }
}
.main-3{
    height: 100%;
    width: 100%;
    margin-top:2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./image/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap:60px;
    flex-wrap: wrap;
    border-radius:100% 0% 0% 100% / 100% 0% 100% 0%;
    background-color: #9adae7;
   
}
.main-3 h1{
    color: #f6664f;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
}
.main-3 .main-3-1{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   margin-top: -12vw;
   background-color: #42d819;
   /* border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% rgb(255, 15, 15); */
   background-image: url("./image/b1.jpg");
   background-repeat: no-repeat;
/* transition: all 5s; */
    
}
.main-3 .main-3-2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -12vw;
    background-color: #f3624c;
    background-image: url("./image/b2.jpg");
    background-repeat: no-repeat;
    
    /* transition: all 5s; */
}
.main-3 .main-3-3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -12vw;
    background-color: #4924de;
    background-image: url("./image/b3.jpg");
    background-repeat: no-repeat;
    /* transition: all 5s; */
}
.main-3-1 {
    /* rotate: 1440deg;
    transition: 10s; */
    animation: rotation 7s infinite linear;
}

.main-3-2 {
    /* rotate: 1440deg;
    transition: 10s; */
    animation: rotation 5s infinite linear;
}
.main-3-3 {
    /* rotate: 1440deg;
    transition: 10s; */
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@media (max-width:600px) {
    .main-3{
        display: inline;
        height: 110%;
            width: 100%;
            margin-top: 40vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #a4a09f;
            /* gap: 60px; */
            flex-direction: column;
    }
    .main-3 h1{
margin: 0 0 80px 0;
    }
    .main-3-1{
        margin: 0 0 50px 0;
    }
    .main-3-2 {
        margin: 0 0 50px 0;
    }
    .main-3-3 {
        margin: 0 0 50px 0;
    }
}